.card
    border-color: #f99262 !important
    padding: 15px
    background-color: #011d27

    h1
        color: #f99262 !important
hr
    border-color: #f99262 !important
    // background-color: #011d27
