.log-card-frame
    border-color: #011d27
    padding: 15px
    background-color: #011d27
    color: #f99262 !important

    .log-card, .log-card-analysis, .log-card-payload
        border-color: #f99262 !important
        padding: 15px
        background-color: #011d27
        margin-top: 15px

        .badge
            font-size: 1rem
    .log-card
        color: #f99262 !important

    .log-card-payload
        border-color: #ff717d !important
        
        h4
            color: #ff717d!important
        p
            color: #ff717d
        .card
            border-color: #ff717d !important
            background-color: #011d27
            padding: 20px

    .log-card-analysis
        border-color: #00FFFF !important
        h4
            color: #00FFFF!important
        p
            color: #00FFFF
        
hr
    border-color: #f99262 !important
    // background-color: #011d27
